.featured-posts {
    margin-top: 1em; 
}
.featured-posts-wrapper {
    position: relative; 
    
    .owl-nav {
        position: absolute;
        top: 1em; 
        right: 0; 
        border:1px solid #ddd; 
        background-color: rgba(255,255,255,0.95);
        margin:0; 
        .owl-next { border-right: 1px solid #ddd; }

        .owl-next,
        .owl-prev {
            margin:0;
            border-radius: 0; 
            width:36px; height: 36px;
            line-height: 30px;
            text-align: center; 
            &:hover {
                background-color: $black; 
                color: $white; 
            }
        }
    }
}


.featured-posts-slides {

}


.featured-posts-item {
    
    position: relative; 
}


.featured-post-cover {
    width: 58%; 
    img {
        display: block; 
        width: 100%; height: auto; 
    }   

    @include mq-max ($desktop-small) {
        width: auto;  
    }
}


.featured-post-brief {
    position: absolute; 
    right: 0; 
    bottom: 50px; 
    z-index: 2; 
    background-color: $black; 
    padding: 1.5em 1.5em 4em 1.5em; 
    color: #ffffff; 
    width: 55%; 
    @include mq-min ($desktop-small) {
        padding: 2.5em; 
    }

    @include mq-max ($desktop-small) {
        width: auto; 
        bottom: 1.5em; 
        left: 0; 
        margin-left: 1.5em;
        margin-right: 1.5em; 
    }

    @include mq-max ($tablet) {
        position: relative; 
        bottom: 0; 
        margin-top:-10em; 
    }


    @include mq-max ($mobile) {
        margin-top:-5em; 
    }

    &.blog-post {
        .post-meta {
            
            color: #e1e1e1; 
        }

        .post-heading {

        }

        .post-title {
            font-size: pxToEm(30);
            > a {
                color: $white; 
                &:hover {
                    color: #f1f1f1;
                }
            }

            @include mq-max ($desktop-small) {
                font-size: pxToEm(26);
            }

            @include mq-max ($tablet) {
                font-size: pxToEm(22);
            }
        }


        .post-excerpt {
            color: #e1e1e1; 
            margin-bottom: 1em; 
            @include mq-min ($desktop-small) {
                font-size: pxToEm(18);
            }
        }

        .post-author {
            > a {
                color: #ffffff; 
            }
        }

        .read-more {
            background-color: #333;
            display: inline-block; 
            padding: 1em 2.5em;
            position: absolute; 
            font-size: pxToEm(13);
            text-transform:  uppercase; 
            bottom: 0; right: 0;  
            color: #ffffff; 
            &:hover {
                color: #f1f1f1;
            }
        }
    }
}

.blog-entries {
    margin-top: 2em; 
    margin-bottom: 2em; 
    @include mq-max ($tablet - 1px) {
        margin-left: 1.5em;
        margin-right: 1.5em; 
    }
}

.blog-entries-outer { 
    display: flex; 
    margin-left: -2em;
    margin-right: -2em; 
    flex-wrap: wrap; 
    @include mq-max ($tablet) {
        margin-left: -1em;
    margin-right: -1em; 
    }
}

.blog-entry-item {
    width: 33.33%;
    padding-left: 2em; 
    padding-right: 2em;  
    margin-top: 2em; 
    margin-bottom: 2em; 

    @include mq-max ($desktop-small) {
        width: 50%; 
    }

    @include mq-max ($tablet) {
        padding-left: 1em; 
        padding-right: 1em; 
    }

    @include mq-max ($mobile) {
        width: 100%; 
    }

    .blog-thumbnail {
        img {
            display: block;
        }
    }

    .blog-brief  {
        background-color: #ffffff;
        margin-top: -25px; 
        padding: 1.5em;
        margin-left: 1em; 
        margin-right: 1em; 
        position: relative; 

        @include mq-max ($desktop-small) {
            padding: 1em; 
        }
    }

    &.blog-post {
        .post-meta { 
            > div {
                display: inline-block;
            }
            margin-bottom: 0.375em; 
            a { 
                color: $gray; 
                &:hover {
                    color:$red;
                }
            }


        }

        .post-taxonomy {
            font-size: pxToEm(14);
        }

        .post-title {
            font-size: pxToEm(20);
            margin-bottom: 0.375em; 
            > a {
                color: $black; 
                &:hover {
                    color:$red;
                }
            }

            @include mq-max ($desktop-small) {
                font-size: pxToEm(18);
            }
        }

        .post-excerpt {
            margin-bottom: 0.5em; 
            font-size: pxToEm(14);
        }

        .read-more {
            display: block; text-align:right ;
            font-size: pxToEm(14);
            text-transform: uppercase; 
            color: $gray; 
                &:hover {
                    color:$red;
                }
        }
    }
}

.blog-post {
    .post-meta {
        text-transform: uppercase; 
        font-weight: 300; 
        font-size: pxToEm(14);
    }

    .post-heading {
        font-weight: 400; 
        margin-bottom: 0.5em; 
    }
    
    .post-title { 
        font-weight: 400; 
        > a {
             
            &:hover {
                
            }
        }
    }

    .post-excerpt {
        font-weight: 300; 
    }

    .post-author {
        font-weight: 300; text-transform:  uppercase; font-size: pxToEm(14);
    }

    .read-more {
        font-weight: 300; 
    }
}



.blog-navbar {
    margin:2em 0; 
    @include mq-max (1215px) {
        margin-left: 1.5em;
        margin-right: 1.5em; 
    }

    .container {
        display: flex; 
        overflow: hidden; 
    }

    .blog-search {
        width: 400px; 
        @include mq-max (1215px) {
            width: 300px; 
        }

        @include mq-max(960px) {
            width: auto; 
        }

        &.opensearch {
            .search-icon {
                display: none; 
            }

            .blog-search-wrapper {
                right: 0; 
            }
        }
    }

    .blog-categories  {
        flex: 1; 
        ul {
            margin:0; 
            padding:0; 
            li {
                display: inline-block;
                position: relative; 
                @include mq-min ($desktop) {
                    font-size: pxToEm(18);
                }

                @include mq-max ($tablet) {
                    display: none; 
                }

                &.has-sub-menu {
                    @include mq-max ($tablet) {
                        display: block; 
                    }
                    > span:first-child {
                        display: none; 
                        @include mq-max ($tablet) {
                            display: inline; 
                        }
                    }
                    &:hover {
                        .sub-menu-outer {
                            display: block; 
                        }
                    }

                    li {
                        font-size: pxToEm(16, 18);
                        display: block; 

                        a {
                            padding: .5em 1em; 
                        }
                    }
                }

                a { 
                    color: $black;
                    display: block;
                    padding: .75em 1em; 
                    &:hover {
                        color: $red; 
                    }
                }

                .dots-more {
                    width: 50px; padding: .75em 1em; 
                    display: block; 
                    @include mq-max ($tablet) {
                        display: inline-block; 
                    }
                }

                &.current {
                    &:after {
                        content: '';
                        height:2px;
                        width: 100%; 
                        position: absolute;
                        bottom: 0;
                        left: 0; 
                        background-color: $red; 
                    }
                }
            }
        }
    }

    .sub-menu-outer {
        padding: 0.5em;
        box-shadow: 0px 4px 5px rgba(0,0,0,0.3);
        position: absolute; 
        top: 100%; 
        width: auto; 
        display: none; 
        z-index: 100; 
        background-color: #ffffff; 
        width: 270px; 
    }
}

.blog-search-trigger {
    height: 50px; 
    color: #444;
    font-size: pxToEm(22);
    border-radius: 25px; 
    padding: 0 1.25em; 
    line-height: 50px; 
    display: inline-block; 
    background-color: #efefef;
}

.blog-search-wrapper {
    background-color: #efefef;
    height: 50px; 
    border-radius: 25px; 
    padding-left: 20px;  
    position: relative; 
    transition: all .5s; 
    @include mq-max(960px) {
        position: absolute; 
        right: -300px; 
    }

    input[type=search] {
        border: none;
        background: transparent;
        height: 50px; 
        width: 100%; 
        padding-right: 60px; 
        font-size: pxToEm(16);
        line-height: 48px; 
        transition: all .5s;
 
    }

    label {
      display: block; 
      width: 100%;
    
    }

    button {
        position: absolute; top:0; 
        right: 0; 
        height: 50px; 
        width: 70px;  
        padding:0; 
        background: transparent; 
        border: none; 
        font-size: 22px; 
        color: #444; 
        

    }
}

.search-icon {
    height: 50px; 
    width: 80px; 
    display: block;   
    background-color: #efefef;
    position: absolute; top:0; 
    right: 0;
    font-size: 22px; 
    color: #444; 
    border-radius: 25px; 
    line-height: 50px; 
    cursor: pointer; 
    z-index: 10; 
    text-align:center; 
}   