.home-intro {
  background: #151515 url(../images/intro-bg.jpg) no-repeat center bottom;
  background-size: auto;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  z-index: 0; 
  margin-top: -5vh; 
  margin-bottom: 5vh; 
  .intro-overlay {
      
  }

  .intro-container {
    max-width: pxToEm(600);
    margin-left: auto; 
    margin-right: auto; 
    
    @include mq-max (650px) {
      margin-left: 1em; 
      margin-right: 1em; 
    }
    h1 {
     font-size: pxToEm(64);
     margin-bottom: pxToEm(15, 64);

     @include mq-max ($tablet) {
      font-size: pxToEm(54);
     }

     @include mq-max ($mobile) {
      font-size: pxToEm(32);
     }
   } 

    h2 {
      font-size: pxToEm(24);
      font-weight: 300; 
      margin-bottom: pxToEm(15, 24);

      @include mq-max ($tablet) {
        font-size: pxToEm(20);
       }
  
       @include mq-max ($mobile) {
        font-size: pxToEm(16);
       }
    }

    strong {
      color: $white;
      font-weight: 500; 
    }
  }

  .hero-button-holder {
    margin-top: 3em;
  }
}


.home-screensliders {
  margin-top: -25vh; 
  position: relative;
  z-index: 1; 
  text-align: center; 
  
 

  .screens-sliders {
    background-color: $white; 
    padding: 1em  1em  1em  1em;
    border-radius: 10px; 
    border:1px solid $grey-lighter; 
    display: inline-block; 
    max-width: 1000px; 

    @include mq-max ($desktop-small) {
      padding: 0.5em; 
    }
  }
}
 


.features {
  margin-top: 4em;
  margin-bottom:  6em; 
  .container {
    max-width: 1100px; 
  }
  h4 {
    font-size: pxToEm(24);
    text-align: center; 
    font-weight: 300; 

    @include mq-min ($desktop-small) {
      font-size: pxToEm(30);
    }
  }

  &-list {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-content: center; 
    margin: 1em 0; 
    @include mq-max ($tablet) {
      justify-content: center; 
    }

    @include mq-max ($mobile) {
      justify-content: space-between; 
    }
  }

  &-list-item {
    width: 18%; 
    margin: 1%; 
    text-align: center; 

    .feature-icon {
      margin-bottom: .5em; 
    }

    @include mq-max ($tablet) {
      width: 30%; margin: 1% 1.5% 3% 1.5%; 
    }

    @include mq-max ($mobile) {
      width: 44%; margin: 1% 2.5% 3% 2.5%; 
    }
  }

  &-bottom {
    text-align: center; 
  }
}



.section-who-we-are {
  display: flex; 
  height: 90vh; 
  background: #fff url('../images/bg-who-we-are.jpg') no-repeat;
  background-position: top left; 
  background-size: auto 100%; 
  margin-top: -1px; 
  

  @include mq-max ($tablet-start) {
    height: auto;
    background-position: center center; 
    flex-direction: column-reverse;
  }

  .left-side {
    width: 35%;
    text-align: center; 
    display: flex; 
    align-items: center; 

    @include mq-max ($tablet-start) {
      height: 30vh;
      width: 100%; 
      padding-top: 2em; 
      padding-bottom: 2em; 
    }
  }

  .right-side {
    width: 65%; 
    background-color: #131313; 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    display: flex; 
    color: $white; 

    @include mq-max ($tablet-start) {
      width: 100%; 
      display: block; 
      clip-path: none; 
      padding-bottom: 5em; 
    }
    .top-part,
    .middle-part,
    .bottom-part {
      width: 100%; 
      padding-left: 240px; 

      @include mq-min ($desktop-small) {
        padding-left: 300px; 
      }

      @include mq-max ($mobile) {
        padding-left: 1.5em; 
      }
    }

    .middle-part,
    .bottom-part {
      @include mq-max ($desktop-small) {
        padding-left: 120px; 
      }

      @include mq-max ($mobile) {
        padding-left: 1.5em; 
      }
    }
     

    .top-part { 
      height: 35%;
      background: url('../images/if-logo-dots.svg') no-repeat;
      background-size: 550px;
      padding-top: 140px; 
      background-position: -00px -30px;

      @include mq-max ($tablet-start) {
        margin-bottom: 3em; 
        background-position: -70px -30px;
      }

      @include mq-max ($mobile) {
        background-size: 450px;
        background-position: -50px 0px;
        padding-top: 240px; 
      }

      h4 {
        font-size: pxToEm(20);
        font-weight: 300; 
        opacity: 0.7;
        @include mq-min ($desktop-small) {
          font-size: pxToEm(24);
        }
      } 

      h3 {
        font-size: pxToEm(34);
        font-weight: 500; 
        color: $white; 
        line-height: 1em; 
        text-transform: uppercase; 
        @include mq-min ($desktop-small) {
          font-size: pxToEm(44);
        }
      }
     }

    .bottom-part { 
      width: 100%; height: 35%; 
      padding-right: 50px; 
    } 

    .middle-part { 
      padding-right: 50px; 
      flex-grow: 1;
      color:$white;
      position: relative;
      display: flex; 
      align-items: center; 
      &-wrapper {
        
      }
      p {
        font-weight: 300;
        line-height: 1.5em; 
        font-size: pxToEm(18);
        max-width: 600px;
        @include mq-min ($desktop-small) {
          font-size: pxToEm(22);
        }
      }

      .button {
        margin-top: 1.5em; 
      }

      .diagonal-shape {
        position: absolute; 
        right: -100px; 
        bottom: 0; 

        @include mq-max ($tablet-start) {
          display: none; 
        }

      }
    }

    .lets-have-chat {
      font-size: pxToEm(22);
      font-weight: 300; 
      margin-top: 2em; 
      max-width: 600px;

      @include mq-min ($desktop-small) {
        font-size: pxToEm(28);
      }

      a {
        font-weight: 400; 
        display: inline-block; 
        font-size: pxToEm(30, 22);
        text-decoration: underline; 
        &:hover {
          color: $white; 
        }

        @include mq-min ($desktop-small) {
          font-size: pxToEm(38, 28);
        }
      }
    }

  }

  .right-side-wrapper {
    display: flex; 
    align-items: center; 
    flex-direction: column;
    width: 100%; 
  }

  .intro-video {
    max-width: 150px; 
    display: block; 
    text-align: center; 
    margin: 0 auto; 
    @extend %link-darkgray; 

    &:hover {
      img {
        opacity: .9;
      }
    }
    img {
      opacity: 0.5; 
      width: 100px; 
      transition: all 0.3s ease 0s;
    }

    span {
      font-size: pxToEm(22);
      font-weight: 300; 
    }
  }
}


.section-get-started {
  display: flex; 
  height: 90vh; 
  background-color: #F3F3F3; 
  margin-top: -1px; 

  @include mq-max ($tablet-start) {
    height: auto;
    background-position: center center; 
    flex-direction: column-reverse;
    padding-top: 300px; 
    position: relative; 
  }

  .left-side {
    width: 45%; 
    display: flex; 
    align-items: center; 
    @include mq-max ($tablet-start) {
      width: auto; 
      display:block; 
      padding-top: 3em;
      padding-bottom: 4em; 
      margin-left: 1.5em;
      margin-right: 1.5em; 
      background-color: $white; 
      position: relative; 
      z-index: 5; 
    }
  }

  .right-side {
    
    width: 55.5%; 
    filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.75));
    position: relative; 
    @include mq-max ($tablet-start) {
      width: 100%; 
      display:block; 
      height: 80vh;
      position: absolute; 
      top: 0;  
      z-index: 1; 
    }


    .inner-div {
      position: absolute; 

      top: 0; right: 0; bottom: 0; left: 0; 
      width: 100%; height: 100%; 
      display: block; 
      background: #131313 url('../images/bg-get-started.jpg') no-repeat;
      background-size: cover;  
      clip-path: polygon(0 0, 100% 0, 100% 100%, 19% 100%);
      box-shadow: 0 3px 3px rgba(0,0,0,0.4);

      @include mq-max ($tablet-start) {
        clip-path: none; 
        position: relative; 
        display:block; 
        height: 80vh;
      }
    }
    
  }
}

.get-started-wrapper {
  padding-left: 3.5em; 
  padding-right: 0em; 
  @include mq-max ($desktop-small) {
    padding-left: 1.5em; 
  }

  @include mq-max ($tablet-start) {
    padding-right: 1.5em; 
  }

  .heading-section {
    margin-bottom: 1em; 
    @include mq-min ($desktop-small) {
      margin-bottom: 2em; 
    }

    h5 {
      font-size: pxToEm(32);
      color: $red; 
      font-weight: 500; 
      line-height: 1em; 
      margin-bottom: pxToEm(15, 50);

      @include mq-min ($desktop-small) {
        font-size: pxToEm(50);
      }
    }

    h6 {
      font-size: pxToEm(16);
      font-weight: 400; 

      @include mq-min ($desktop-small) {
        font-size: pxToEm(18);
      }
    }
  }
}

.get-started-form {
  display: flex; 
  flex-wrap: wrap; 

  .field-wrapper {
    width: 48%; 
    margin: 0 2%; 
    margin-bottom: 1.5em; 
    border:2px solid #DCDCDC;
    background-color: #ffffff; 
    text-align: left; 
    border-radius: 8px; 
    padding: .75em 1em; 
    &:nth-child(odd) {
      margin-left: 0; 
    }
    &:nth-child(even) {
      margin-right: 0; 
    }

    @include mq-range($tablet, $desktop - 1px) {
      width: 100%;
      padding: .25em 1em; 
      margin-left:0;
      margin-bottom: 1em; 
      margin-right: 2em;   
      &:nth-child(odd) {
        margin-bottom: 1em; 
        margin-right: 2em;
      }
      &:nth-child(even) {
        margin-bottom: 1em; 
        margin-right: 2em;
      }
    }

    @include mq-max ($mobile) {
      width: 100%;
      padding: .25em 1em; 
      margin-left:0;
      margin-bottom: 1em; 
      margin-right: 2em;   
      &:nth-child(odd) {
        margin-bottom: 1em; 
        margin-right: 2em;
      }
      &:nth-child(even) {
        margin-bottom: 1em; 
        margin-right: 2em;
      }
    }
  }

  .field-input {
    position: relative; 
    padding-bottom: .25em; 
  }

  label {
    font-size: pxToEm(13);
    font-weight: 300; 
    position: absolute; 
    top: 50%; 
    opacity: 0; 
    left: 0; 
    color: #737373; 
    transition: all .5s ease; 
    z-index: 1; 
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 1em 0 .5em 0; 
    background: transparent; 
    position: relative; 
    z-index: 2; 
    font-size: pxToEm(18);
    border:none; 
    &:not(:placeholder-shown) {
      padding-top: 1.25em; 
      padding-bottom: 0.25em;
    }
    &:not(:placeholder-shown) + label {
      top: 4px; 
      transform: translateY(0);
      opacity: 1; 
    }
  }
  
  .field-wrapper-wide {
    width: 100%; 
  }

  .button {
    width: 70%; 
    height: auto; 
    font-size: pxToEm(22);
    margin: 0 auto; 
 
    display: block; 
  }
}


.investors-intro {
  background-color: rgba(255,255,255, 0.8);
  position: relative; 
  padding-top: pxToEm(200);
  padding-bottom: pxToEm(200);
  
  &:before {
    content: '';
    display: block; 
    position: absolute; 
    top: 0; left: 0; right: 0; bottom:0; 
    background: url('../images/bg2.jpg') no-repeat 0 0;
    background-size: cover; 
    opacity: 0.5;
    z-index: -1; 
  }

  .content-wrapper {
    h4, h5 {
      position: relative; 
      z-index: 2; 
      
    }

    h4 {
      font-size: pxToEm(50);
      font-weight: 500; 
      margin-bottom: pxToEm(30, 50);line-height: 1;
      
      @include mq-max ($mobile) {
        font-size: pxToEm(40);
      }
    }

    h5 {
      font-size: pxToEm(22);
      font-weight: 400; 
      margin-bottom: pxToEm(30, 22);

      @include mq-max ($mobile) {
        font-size: pxToEm(18);
      }
    }
  }

  .investors-actions {
    display: flex; 
    > div {
      display: flex; 
      align-items: center; 

      @include mq-max ($mobile) {
        margin-bottom: 1.5em; 
      }
    }

    @include mq-max ($mobile) {
      flex-direction:column;
    }
    .intro-video {
      display: flex; align-items: center; 
      font-size: pxToEm(18);
      margin-left: 2em; 
      img {
        width: 50px; height: auto;
        opacity: 0.7; 
        margin-right: .5em;  
      }

      @include mq-max ($mobile) {
        margin-left: 1.25em; 
      }
    }
  }
}

.investors-intro-outer {
 
  position: relative;
  .diagonal-lines-left, 
  .diagonal-lines-right {
    position: absolute; 
    z-index: 0; 
    transition: all .3s ease; 
    @include mq-max ($tablet) {
      height: 50px; 
    }

    @include mq-max ($mobile) {
      height: 40px; 
    }

  }

  .diagonal-lines-left {
    top: -80px;
    left: -100px;
  }

  .diagonal-lines-right {
    bottom: -80px;
    right: -100px;
  }
}

.investors-intro-inner {
  max-width: 700px; 
  margin: 0 auto; position: relative;
  @include mq-max ($tablet) {
    margin-left: 1.5em;
    margin-right: 1.5em; 
  }
 
}

.footer {
  font-size: 0.875em; 
  color: #efefef; 

  .columns {
    align-items: center; 
  }

  .footer-logo {
    height: 30px; width: auto; 
  }

  a {
    color: $white; 

  }

  
}

