.innerpage-banner {
    background: #151515 url(../images/intro-bg.jpg) no-repeat center top;
    padding: 4em 1.5em; 
    
    @include mq-min ($tablet) {
        padding: 6em 1.5em; 
      }

    h1 {
      
      font-weight: 400; 
        font-size: pxToEm(26);
      @include mq-min ($tablet) {
        font-size: pxToEm(36);
      }

      @include mq-min ($desktop) {
        font-size: pxToEm(46);
      }
    }
  
    h2 {
      font-size: pxToEm(16);
      font-weight: 300; 

      @include mq-min ($tablet) {
        font-size: pxToEm(20);
      }
    }
  }


.how-it-works-video {
    h3 {
        margin-bottom: .5em; 
    }
}



.system-features {
    padding-bottom:0 !important; 
    .system-features-outer {
        display: flex; 
        align-items: center; 
        flex-direction: row-reverse; 
        margin-left: 1.5em;
        margin-right: 1.5em; 
        @include mq-max ($desktop-small) {
            display: block;     
        }
    }

    .system-features-slides {
        width: pxToEm(420);
        background: #fff;
        box-shadow: 0px 4px 5px rgba(0,0,0,0.25);
        position: relative; 
        left: 2.5em; 
        padding: 2em; 

        @include mq-max ($desktop-small) {
            transform: translateY(-50%);
            width: auto;
            box-sizing: border-box;
            left: 0;
            margin-left: 3em;
            margin-right: 3em;
        }

        @include mq-max ($tablet) {
            margin-left: 1.5em;
            margin-right: 1.5em;
        }
    }

    .system-features-slide {
        h4 {
            color: $black; 
            font-size: pxToEm(24);
            line-height: 1.25em;
            margin-bottom: pxToEm(10, 26);
        }
 
        position: relative; 

        p:last-child {
            text-align:right;
            margin-top: 1.5em; 
        }
        .next-feature {
            color: $red; 
            cursor: pointer; 
        }
    }

    .component-rates-graphic {
        flex: 1; 
         
    }
}

