.button-hover {
  transition: all 0.3s ease 0s;
}

.main {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
}

.video-frame {
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.78);
  video {
    display: block;
  }
}
 

.section {
  padding-left: 0; 
  padding-right: 0; 
}

.inner-main {
  background-color: #1b1d1e;
  padding-top: $navbar-height + 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  @include mq-max($tablet) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


.tab-content {
  display: none;
  margin-bottom: 3rem;
  &.is-active {
    display: block;
  }
}

.line-arrow-right,
.line-arrow-left {
  cursor: pointer;
  height: 80px;
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  transition: transform .1s;

  @include mq-max ($tablet) {
    height: 50px;
  width: 25px;
  }
  .line-arrow-top,
  .line-arrow-bottom {
    background-color: rgba(255,255,255,1);
    position: absolute;
    opacity: 0.6; 
    transition: all .4s ease; 
    height: 5px;
    left: 0;
    top: 50%;
    width: 100%;

  }

  &:hover {
    .line-arrow-top,
    .line-arrow-bottom {
     opacity: .95;;
    }
  }

  &:active {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  }
}

 
.line-arrow-right {  
  .line-arrow-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
  }
  
  .line-arrow-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
 
  }

}
 

.line-arrow-left {
  .line-arrow-top {
    transform: rotate(45deg);
    transform-origin: top left;
     
  }
  
  .line-arrow-bottom {
    transform: rotate(-45deg);
    transform-origin: bottom left;
    
     
  }
  
 
 
}