.navbar {
  background-color: rgba(0, 0, 0, 0.48);
  transition: all 0.4s ease 0s;


  .navbar-brand,
  .navbar-item img,
  .navbar-burger {
    transition: all 0.4s ease 0s;
  }

  .navbar-item {
    a {
      color: $white; 
       
    }
    margin-right: 1rem; 
    font-weight: 300;
    &:last-child {
      margin-right: 0; 
    }

    .icon {
      margin-right: 0.25em; 
    }
    @include mq-min ($desktop) {
      font-size: 1.25em; 
    }
  }

  .navbar-social {
    svg {
      width: 28px; height: auto;
      fill: #fff; 
    }

    &-last {
      margin-right: em; 
    }
  }


  @include mq-max($tablet) {
    max-height: ($navbar-height - 1rem);
    min-height: ($navbar-height - 1rem);
    .navbar-brand {
      max-height: ($navbar-height - 1rem);
      min-height: ($navbar-height - 1rem);
    }

    .navbar-item img {
      max-height: ($navbar-item-img-max-height - 0.5rem);
    }

    .navbar-burger {
      width: ($navbar-height - 1rem);
      height: ($navbar-height - 1rem);
    }
  }

  @include mq-max($mobile) {
    .navbar-item img {
      max-height: ($navbar-item-img-max-height - 1.5rem);
    }
  }




  &.scrolled {
    background-color: rgba(0, 0, 0, 0.52);
    min-height: ($navbar-height - 2rem);

    .navbar-brand {
      min-height: ($navbar-height - 2rem);
    }

    .navbar-item img {
      max-height: ($navbar-item-img-max-height - 1rem);
    }

    .navbar-burger {
      width: ($navbar-height - 2rem);
      height: ($navbar-height - 2rem);
    }
  }
}


.navmenu-container {
  display: block;
  width: 36px;
  height: 23px; 
  position: absolute;
  right: 25px;
  top: 25px;

  @include mq-max ($tablet) {
    top: 18px;
    right: 18px;  
  }

  label {
    display: block;
    width: 36px;
    height: 23px; 
  }

  @include mq-min($desktop) {
    display: none; 
  }
}

nav input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
 

#menu-icon {
  height: 23px;
  width: 100%;
  display: block; 
  transition: all 0.2s ease-in-out;
  display: none;
  position: relative;
  z-index: 201; 
  em,
  &:before,
  &:after {
      background: #fff;
      height: 3px; 
      transition: all 0.2s ease-in-out;
      width: 100%;
  }

  em {
    position: absolute; 
    left: 0; 
    top: 10px; 
    width: 100%; 
  }

  &:before,
  &:after {
    content: '';
    left: 0;
    position: absolute;
  }

   
&:before {
  top: 0;
}

&:after {
  bottom:0 ;
}

  @include mq-max ($desktop) {
    display: inline-block;
  }
}

 

nav {
  label {
    padding:0; 
    cursor: pointer; 
  }
  input[type=checkbox]:checked + label #menu-icon em {
      background: transparent;
  }

  input[type=checkbox]:checked + label #menu-icon:before {
      top: 21px;
      transform: rotate(-45deg); 
  }

  input[type=checkbox]:checked + label #menu-icon:after {
      bottom: 0;
      transform: rotate(45deg);
  }

  input:checked ~ #mobilemenu {
    transform: translateX(0%) translateY(0%);
    @include mq-min($desktop) {
      transform: translateX(0%) translateY(-100%);
    }
  }
}

#mobilemenu {
  position: fixed;
  left:0; 
  top: 0; 
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, #A403B1, #F91DC5);
  transition: transform cubic-bezier(.77,0,.175,1) .5s;
  transform: translateX(0%) translateY(-100%);
  z-index: -1;
  display: flex; 
  z-index: 200; 
  align-items: center; 
   
}

 
 

.mobile-menu-container {
  flex: 1; 
  align-items: center; 
  width: 10vw; 
  display: flex; 
  height: 100vh; 
  box-sizing:  border-box; 
  padding: 1em; 
  flex-direction: column; 

  .mobile-logo {
    height: 40px; width: auto; 
  }

  .mobile-menu-top,
  .mobile-menu-middle,
  .mobile-menu-bottom {
    width: 100%; display: flex; 
    align-items: center; 
  }
  .mobile-menu-top {
    height: 55px; 
  }

  .mobile-menu-middle {
    flex: 1; 
    justify-content: center; 
    ul {
      width: 100%; 
      li {
        width: 100%; 
        text-align: center; 
        font-size: 24px; 
        margin: 1em 0; 
        transition: transform .3s ease; 
        a { 
          color: #ffffff; 
          font-weight: 300; 
          &:hover {
            color: #ffffff; 
          }
        }

        &:hover {
          transform: scale(1.25);
        }
      }
    }
  }

  .mobile-menu-bottom {
    height: 80px; 
    text-align: center; 
    justify-content: center; 
    .mobile-social-icon {
      display: inline-block; 
      margin: 0 1em; 
      svg {
        height: 28px; width: auto;
        fill: #fff; 
      }
    }
  }

}